MasterDetailExample.xcodeproj/xcuserdata
MasterDetailExample.xcworkspace/xcuserdata/annawidera.xcuserdatad
MasterDetailExample.xcodeproj/project.xcworkspace/xcuserdata/annawidera.xcuserdatad
Podfile.lock
MasterDetailExample.xcworkspace
contents.xcworkspacedata
